<!DOCTYPE html>
<!-- *** new version loaded *** -->

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout :: layout}">

<section>
  <h3 class="mb-3">Hi，<b th:text="${name}">Admin</b></h3>

  <ul class="list-group">
    <li class="list-group-item"><a th:href="@{/swagger-ui.html}">Swagger API 文件</a></li>
    <li class="list-group-item"><a th:href="@{/company/add}">新增公司</a></li>
    <li class="list-group-item"><a th:href="@{/loan/pending}">所有審核紀錄</a></li>
  </ul>
</section>
</html>
