<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout('所有審核貸款', ~{::body})">

<body>
  <section class="container py-4">
    <h2>全部紀錄</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>公司</th>
          <th>金額</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="loan : ${loans}">
          <td th:text="${loan.id}">1</td>
          <td th:text="${loan.company.companyName}">範例公司</td>
          <td th:text="${loan.loanAmount}">10000</td>
          <td>

            <!-- 刪除按鈕 -->
            <a th:href="@{/loan/all-admin/delete/{id}(id=${loan.id})}" class="btn btn-sm btn-outline-danger"
              th:onclick="|return confirm('確定要刪除申請 ID=${loan.id}?');|">
              刪除
            </a>
            <!-- 查看按鈕 -->
            <a th:href="@{/loan/detail/{id}(id=${loan.id})}" class="btn btn-sm btn-outline-primary">查看</a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</body>

</html>